{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<h2>Informations Personnelles *</h2>

    <img src="{{ asset('public/uploads/image-user/' ~ card.imageUser)}} " alt="image_user">
    <p>{{ card.user.name }}</p>
    <p>{{ card.user.lastName }}</p>
    <p>{{ card.user.eMail }}</p>
    <p>{{ card.user.phone }}</p>

    <h2>Informations Supplémentaires</h2>


    <p>{{ card.title }}</p>
    <p>{{ card.society }}</p>


{% endblock %}




