{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>My Card</h1>
</div>
<h2>Informations Personnelles</h2>


    <p>{{ card.name }}</p>
    <p>{{ card.firstName }}</p>
    <p>{{ card.eMail }}</p>
    <img src="{{ asset('uploads/image-user')}} {{ card.imageUser }}" alt="image_user">
{% endblock %}


